
$import-bg: $color-bg;
/* $import-bg: #ff4242; */

#snapshot-box {
  text-align: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  
  .container {
    padding: 30px;
    .snapshots {
      
    }
    .take-snapshot {
      padding: 10px 0;
      border: 2px solid lighten( $color-bg, 10);
    }
  }
  
}
