
#toolbar {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	text-align: center;
	z-index: 5;
	font-size: 0px; // Getting rid of those pesky element gaps.
	
	> div {
		cursor: pointer;
		overflow: hidden;
		position: relative;
		display: inline-block;
		z-index: 0;
		width: 35px;
    height: 35px;
		font-size: 13px;
    line-height: 35px;
    border-radius: 900px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		margin: 2px 6px;
		color: $color-bg;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
		background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
		background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    border: 2px solid #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
	  animation-delay: .6s;
	  animation-duration: .4s;
		transition: all 150ms ease-in-out;
    &:hover {
			color: darken($color-accent-2,20);
			a { color: darken($color-accent-2,20); }
    }
		a { color: $color-bg; }
		
    &:active {
			top: 2px;
    }
		
		.icon {
			position: relative;
		}
		
		&:nth-child(1) {
		  animation-delay: 0.2s;
		  animation-duration: .5s;
			.icon {
				// top: 1px;
				top: .8px;
			}
		}
		&:nth-child(2) {
		  animation-delay: 0.25s;
		  animation-duration: .7s;
			.icon {
				// top: 2px;
				top: 0px;
				// left: 1px;
			}
		}
		&:nth-child(3) {
		  animation-delay: 0.3s;
		  animation-duration: .9s;
		}
		&:nth-child(4) {
		  animation-delay: 0.35s;
		  animation-duration: 1.2s;
			.icon {
				// top: 1px;
				top: 0.5px;
				// left: 2px;
			}
		}
		&:nth-child(5) {
		  animation-delay: 0.4s;
		  animation-duration: 1.3s;
		}
	}
	
	.gitter,
	.github {
		background: $color-bg;
		&,
		& a {
			color: #fff;
		}
	}
	
	> div {
		width: auto;
		height: 31px;
		line-height: 31px;
		padding: 0 12px 0 14px;
		margin: 0 4px;
		&:hover {
			width: auto;
		}
		.icon {
			margin-right: 8px;
		}
		> span,
		> div {
			float: left;
		}
	}
	
}
