// I kinda wish I handled this accent color thing differently. It's kind of a hassle to manage....

// ACTIVE ITEM ACCENT COLOR
// So that you can easily tell which items are active...
#dialog {
	.currently-active-tab {
		color: $color-accent;
	}
	.active {
		&.panel > .title,
		> .button-border > .text-container,
		> .text-container,
		> span > .text-container,
		&.tree-view-item > .item-wrap .text-container,
		> label {
			color: $color-accent;
		}
		>  #dialog-title-bar {
			border-bottom: 2px solid $color-accent;
			box-shadow: 0 0 20px #33cc59;
			animation: dlgShadowPulsate 2s ease-out infinite;
			@keyframes dlgShadowPulsate {
				0% { box-shadow  : 0 0 3px #33cc59; }
				50% { box-shadow : 0 0 20px #33cc59; }
				100% { box-shadow: 0 0 3px #33cc59; }
			}
		}
		&.group > .padding-box,
		&.list-box > .inner-wrap,
		&.divider-line > .padding-box,
		&.tabbed-panel > .padding-box,
		&.tree-view > .padding-box,
		&.edit-text > span {
			border: 1px solid $color-accent;
		}
		&.edit-text > span > span {
			color: #f1f1f1;
		}
	}

	.active[type=range]::-moz-range-thumb {
		border-color: $color-accent;
	}
	.active[type=range]::-webkit-slider-thumb {
		border-color: $color-accent;
	}
	.active[type=range]::-ms-thumb {
		border-color: $color-accent;
	}
}

// HIDE ACTIVE ITEM ACCENT COLOR
#dialog {
	&.hide-active .currently-active-tab {
		color: #dadada;
	}
	&.hide-active .active {
		&.panel > .title,
		> .button-border > .text-container,
		> .text-container,
		> span > .text-container,
		&.tree-view-item > .item-wrap .text-container,
		> label {
			color: #dadada;
		}
		>  #dialog-title-bar {
			border-bottom: none;
			box-shadow: none;
			animation: none;
		}
		
		&.edit-text > span  {
			border-color: #656666;
		}
		&.tree-view > .padding-box,
		&.list-box > .inner-wrap {
			border-color: #737474;
		}
		&.tabbed-panel > .padding-box,
		&.divider-line > .padding-box {
			border-color: #464747;
		}
		&.group > .padding-box, {
			border: none;
		}
	}

	&.hide-active .active[type=range]::-moz-range-thumb {
		border-color: #c7c7c7;
	}
	&.hide-active .active[type=range]::-webkit-slider-thumb {
		border-color: #c7c7c7;
	}
	&.hide-active .active[type=range]::-ms-thumb {
		border-color: #c7c7c7;
	}

}
// GHOSTING
// Hovering over items in the treeview highlights them in the dialog preview
#dialog {
	
	.ghosting {
		&.panel > .title,
		> .button-border > .text-container,
		> .text-container,
		> span > .text-container,
		&.tree-view-item > .item-wrap .text-container,
		> label,
		&.tab {
			color: $color-accent-2 !important;
		}
		>  #dialog-title-bar {
			border-bottom: 2px solid $color-accent-2 !important;
			box-shadow: 0 0 20px $color-accent-2 !important;
			animation: dlgShadowPulsateGhosting 2s ease-out infinite;
			@keyframes dlgShadowPulsateGhosting {
				0% { box-shadow  : 0 0 3px $color-accent-2 !important; }
				50% { box-shadow : 0 0 20px $color-accent-2 !important; }
				100% { box-shadow: 0 0 3px $color-accent-2 !important; }
			}

		}
		&.group > .padding-box,
		&.list-box > .inner-wrap,
		&.divider-line > .padding-box,
		&.tabbed-panel > .padding-box,
		&.tree-view > .padding-box,
		&.edit-text > span {
			border: 1px solid $color-accent-2 !important;
		}
		&.edit-text > span > span {
			color: #f1f1f1 !important;
		}
	}
	
	.ghosting[type=range]::-moz-range-thumb {
		border-color: $color-accent-2 !important;
	}
	.ghosting[type=range]::-webkit-slider-thumb {
		border-color: $color-accent-2 !important;
	}
	.ghosting[type=range]::-ms-thumb {
		border-color: $color-accent-2 !important;
	}
	
} // #dialog
