<div class="panel-wrap" data-panel="treeview" id="panel-tree-view-wrap">
	
	<!-- Just a quick and dirty way to make sure that the min-width is the title width -->
	<div class="panel-title" style="position: relative; visibility: hidden; margin-top: -46px;">
		<span>Structure</span>
	</div>
	<div class="panel-title">
		<span>Structure</span>
	</div>
	
	<div class="label animated slideInDown">
		<span>Structure</span>
	</div>
	
	<div class="overflow-wrap">
		<div id="tree-view-contents" class="contents" data-parent="true">
			
		</div>
	</div>
	
	<div class="collapse">
		<i class="fas fa-chevron-left"></i>
	</div>
	
</div>
