<div class="panel-wrap" data-panel="edit" id="panel-edit-style-wrap">
	
	<div class="panel-title">
		<span>Item Properties
			<span class="item-prop-icon"></span>
		</span>
	</div>
	
	<div class="label animated slideInDown">
		<span>Item Properties
			<span style="display: inline-block; padding: 0 7px;">|</span> <span class="item-prop-icon"></span>
		</span>
	</div>
	
	<div class="overflow-wrap">
		<div id="edit-style-contents" class="contents">
			
			<!-- Rest is generated laters... -->
			<div id="edit-style-inner-container"></div>
			
		</div>
	</div>
	
	<div class="collapse">
		<i class="fas fa-chevron-left"></i>
	</div>
	
</div>
