
#panel-edit-style-wrap {
	z-index: 10;
	
  // Removes the arrows between panels from this one.
  &:before {
    display: none;
  }
	
	input,
  textarea,
  .prettydropdown li, {
		font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
	}
	
	
  > .label.animated .item-prop-icon {
    font-size: 10px;
  }
	
	.target-item-type {
    margin: -19px -19px 10px -18px;
  	background: darken( $color-bg, 4);
    padding: 8px 11px 7px 17px;
    display: block;
    // text-align: center;
    text-align: right;
    i {
      vertical-align: middle;
      position: relative;
      top: -1px;
      padding-right: 5px;
    }
	}
  
	.panel-title span {
		position: relative;
		z-index: 0;
    overflow: visible;
		span.item-prop-icon {
      width: 30px;
      height: 30px;
      color: #dadada;
			position: absolute;
      top: -3px;
      right: -10px;
			z-index: 1;
			float: right;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-items: center;
      justify-content: center;
      text-align: center;
      i {
        font-size: 15px;
        // padding: 11px;
      }
			&:before {
        content: '';
			  position: absolute;
				z-index: -1;
			  border-radius: 50%;
			  width: 100%;
			  height: auto;
			  padding-top: 100%;
			  background: #4e4e4e;
			}
		}
	}
	
} // panel-edit-style-wrap

body.update-styles .saving-icon {
  display: block !important;
}

#edit-style-contents {
  text-align: center;
  width: 165px;
  > div {
    text-align: left;
  }
	h2 {
    overflow: hidden;
    display: block;
    text-align: left;
		color: #fff;
		font-size: 15px;
		font-weight: 400;
    margin: 19px 0 7px;
	}
  .target-varName h2 {
    margin-top: 4px;
  }
  
  h4 {
    margin: 10px 0 0;
    display: inline-block;
    color: #c1c1c1;
    font-size: 12px;
    font-weight: 400;
  }
  
  .desc {
    color: #747474;
    font-size: 11px;
    font-weight: 400;
  }
  
  .margins-desc {
    // color: #c1c1c1;
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: auto;
    overflow: hidden;
    transition: all 1s;
    > span {
      flex: 1;
      text-align: center;
    }
    &.hide {
      height: 0;
    }
  }
  
  [title] {
    cursor: help;
  }

  h2:hover .info {
    visibility: visible;
  }
  
  .tabbed-panel {
    cursor: pointer;
    display: block;
    text-align: left;
  }
  
  .creation-props-inner-wrap .creation-prop input[type="text"],
	input[data-edit="helpTip"],
  .textarea {
    background-color: #292929;
    border: 1px solid $color-bg;
    border-radius: 4px;
    outline: none;
    padding: 6px;
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 15px;
    height: 15px;
    width: 150px;
    max-height: 160px;
    color: #fff;
    &:focus {
      border: 1px solid $color-accent;
    }
  }
	input[data-edit="helpTip"] {
    background: #2a2a2a;
  }
	
  input[data-edit="varName"] {
    background-color: #3a3a3a;
    border: 1px solid #2b2b2b;
    border-radius: 4px;
    outline: none;
    padding: 6px;
    resize: vertical;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 15px;
    height: 15px;
    width: 150px;
    max-height: 160px;
    color: #fff;
    &:focus {
      border: 1px solid $color-accent;
    }
  }
  
  .justify-container {
    text-align: left;
  }
  .justify-icon-wrap {
    display: inline-block;
    box-shadow: 0 0 3px #222;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 6px;
  }
  .justify-icon {
    position: relative;
    z-index: 0;
    color: #939393;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-size: 11px;
    $justify-icon-height: 19px;
    width: $justify-icon-height;
    height: $justify-icon-height;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    &[data-edit="justify-center"] {
      border: 1px solid #333;
      border-top: none;
      border-bottom: none;
    }
    .icon {
      line-height: $justify-icon-height;
      height: $justify-icon-height;
    }
    &.active {
      color: #fff;
      background: #292929;
    }
    &:hover {
      color: $color-accent;
    }
  }
  
  // NUMBER INPUTS
  .link-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    color: #acacac;
    padding: 0 5px 0 5px;
    .fa-lock-open {
      display: block;
    }
		.fa-unlock-alt {
			display: none;
		}
    &.active {
      color: $color-accent;
      .fa-lock-open {
        display: none;
      }
      .fa-unlock-alt {
        display: block;
      }
    }
    &:hover {
      color: $color-accent-2;
    }
    
  }
  
  .number-wrap {
    margin-top: 0px;
    .number {
      width: 26px;
      height: 15px;
    }
  }
  
  .margin-inputs {
    margin-top: 4px;
    .n-1-4,
    .n-3-4 {
  		display: inline-block;
      position: relative;
      z-index: 0;
  	}
    .arrow {
      &.plus {
        border-bottom-color: #c1c1c1;
      }
      &.minus {
        border-top-color: #c1c1c1;
      }
    }
    
    .n-3-4.hidden {
      // Overlay that covers these so that you can't mouse interact when these are
      // locked. Because the mouse events were built by javascript and I forgot
      // to consider that at the time... Using the native "disabled" attribute
      // to disable the inputs doesn't stop the mouse events from still being
      // there... This is just a protective cover on top of the disabled inputs
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: not-allowed;
      }
    	.number {
        text-indent: -9999px;
        color: #3e3e3e;
        background: #3e3e3e;
        border-color: $color-bg;
      }
    	.arrow {
        background: #3e3e3e;
        border-color: $color-bg;
      }
    }
  }
  
  .number-wrap.hide { display: none; }

  .dimensions-container {
    .number {
      width: 30px;
    }
    h4 {
      margin-top: 3px;
      padding-right: 3px;
      padding-left: 1px;
      &.width-heading {
        padding-left: 0px;
      }
    }
		// .width.danger-zone,
		// .height.danger-zone {
		.number.danger-zone {
			color: #fe6b0d;
		}
  }
  
  // PRETTY DROPDOWNS
  $dropdown-mini-width: 66px;
  .prettydropdown {
    width: $dropdown-mini-width !important;
    max-width: $dropdown-mini-width !important;
    height: 22px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-left: 0px;
    &:first-child {
      margin-left: 0px;
    }
  }
	.prettydropdown > ul {
    width: $dropdown-mini-width !important;
    max-width: $dropdown-mini-width !important;
    outline: none;
    &:focus {
      border: 1px solid $color-accent;
    }
    border-radius: 4px;
    font-size: 12px;
    background: #2a2a2a;
    color: #c1c1c1;
    border-color: $color-bg;
  }
	.prettydropdown > ul.active {
    // box-shadow: 0 0 18px rgba(255,255,255, .45);
    border: 1px solid $color-accent;
  }
	.prettydropdown > ul > li {
    width: $dropdown-mini-width !important;
    max-width: $dropdown-mini-width !important;
		height: 22px;
		line-height: 22px;
    min-width: 40px;
    padding-left: 5px;
	}
  .prettydropdown > ul > li > span.checked {
    font-size: 10px;
    margin-right: 5px;
    color: $color-accent-2;
  }
  .prettydropdown > ul.active > li:not(.label):hover, .prettydropdown > ul.active > li.hover:not(.label), .prettydropdown > ul.active > li:first-child:hover:after {
    background: transparent;
    color: #e1e1e1;
  }
  .prettydropdown.arrow > ul > li.selected:before, .prettydropdown.arrow > ul > li.selected:after {
    top: 12px;
    right: 5px;
    border: 5px solid transparent;
  }
  .prettydropdown > ul.active > li.selected:before, .prettydropdown > ul.active > li.selected:after {
    border: none;
  }
  .prettydropdown.arrow:hover > ul > li.selected:before {
    border-top-color: $color-accent;
  }
  .prettydropdown.arrow > ul > li.selected:before {
    border-top-color: #c1c1c1;
  }

  .orientation-heading { display: inline-block; width: 94px; }
  .orientation {
    text-transform: capitalize;
    display: inline-block;
    .prettydropdown, ul, li,
    .prettydropdown > ul > li {
      width: 90px !important;
      max-width: 90px !important;
    }
  }
  .spacing-heading { display: inline-block; }
  .spacing-container {
    padding-left: 4px;
    vertical-align: middle;
    display: inline-block;
    .number {;
      width: 55px;
      height: 18px;
    }
  }
	
  
  .align-children {
    text-transform: capitalize;
		.prettydropdown {
			margin-right: 2px;
		}
    > span {
      display: inline-block;
      vertical-align: middle;
    }
		.x-axis, .y-axis {
      position: relative;
      top: 1px;
			vertical-align: middle;
      display: inline-block;
		}
  }
  
  .alignment-container {
    h2 {
      margin: 19px 8px 8px 0;
    }
    > * {
      display: inline-block;
    }
    .prettydropdown, ul, li,
    .prettydropdown > ul > li {
      text-transform: capitalize;
      width: 160px !important;
      max-width: 160px !important;
    }
  }
  
  // Checkbox for Aligment - Right next to the heading
  // https://paulund.co.uk/style-checkboxes-with-css
  /**
   * Create the text for the On position
   */
   .alignment-checkbox {
     margin-top: 0px;
     width: 50px;
     height: 17px;
     background: #333;
     border-radius: 300px;
     position: relative;
     top: -6px;
     input {
       display: none;
     }
     
     &:before,
     &:after {
       position: absolute;
       z-index: 0;
       top : 0px;
       height: 18px;
       line-height: 18px;
       font-size: 11px;
     }
     &:before {
       content: 'On';
       left: 6px;
       color: $color-accent;
     }
     &:after {
       content: 'Off';
       right: 6px;
       color: #e1e1e1;
     }
    
    label {
       display: block;
       width: 22px;
       height: 11px;
       border-radius: 50px;
       transition: all .5s ease;
       cursor: pointer;
       position: absolute;
       z-index: 1;
       top : 3px;
       left: 3px;
       background: #ddd;
     }
     
     input[type=checkbox]:checked + label {
       left: 25px;
       background: $color-accent;
     }
      
   }


  .no-properties {
    border: 1px solid $color-accent;
    background: rgba($color-accent, .4);
    color: #fff;
    border-radius: 5px;
    white-space: normal;
    padding: 8px 8px;
    font-size: 13px;
    text-align: left;
  }

	.edit-info {
    margin-top: 20px;
    border-radius: 4px;
    white-space: normal;
		background: #424242;
		padding: 8px 8px;
    font-size: 12px;
    text-align: left;
		code {
			font-size: 11px;
		}
		.item {
			display: inline;
      padding: 0 4px;
      border-radius: 4px;
      span {
        padding-left: 4px;
      }
		}
		.warning {
			color: #ff6f6f;
		}
		&.highlight-animation {
	    animation-name: example;
	    animation-duration: 3.5s;
      animation-timing-function: ease-in-out;
      border: 1px solid #e31f1f;
		}
		@keyframes example {
	    0% { background-color: #424242; }
	    5% { background-color: rgba(#e31f1f, .55); }
	    100% { background-color: #424242; }
		}

    strong.warning span {
      color: #ffb04c;
    }
    strong.warning {color: #fff;}
	}

	.preferred-size-auto {
    cursor: pointer !important;
		color: #939393;
    font-size: 13px;
    vertical-align: middle;
    padding-left: 4px;
    &:hover {
      color: $color-accent-2;
    }
	}
  
  .edit-text-wrap {
    position: relative;
    textarea {
      position: relative;
      z-index: 1;
    }
    &.is-not-multiline textarea {
      padding-right: 19px;
      width: 137px;
    }
    // I SAID... NO LINE BREAKS...
    & .no-linebreaks-icon {
      display: none;
    }
    &.is-not-multiline .no-linebreaks-icon {
      display: inline-block;
      position: absolute;
      top: 9px;
      right: 10px;
      z-index: 2;
      width: 14px;
      height: 12px;
    }
  }
  
	.image-edit {
    .img-wrapper {
  		overflow: hidden;
  		max-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 3px dashed #222; // I liked this, but it made it look like a drop area and I don't want to deal with that now so...
      background: rgba( #222, .3 );
      border-radius: 5px;
      margin-top: 8px;
      margin-bottom: 10px;
      padding: 5px;
      
  		img {
  			display: inline-block;
  			max-width: 100%;
  		}
  	}
    .custom-file-input {
      cursor: pointer;
      // border: 2px solid #fff;
      // background: rgba( #fff, .1 );
			overflow: hidden;
      color: #fff;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
			div {
	      padding: 7px;
			}
      .add {
        flex-grow: 1;
        background: $color-accent;
        i { padding-right: 5px; }
      }
			.remove {
        background: darken( $color-bg, 10);
        &:hover {
          background: #ea4749;
        }
        i { padding: 0 5px; }
			}
    }
    input {
      display: none;
    }
  }

  .soft-wrap-wrap-wrap {
    //
  }
  .target-typeName {
    .prettydropdown, ul, li,
    .prettydropdown > ul > li {
      width: 162px !important;
      max-width: 162px !important;
    }
  }
	
	.creation-props-inner-wrap {
		white-space: normal;
		.creation-prop {
      display: flex;
      flex-direction: row;
      input[type="text"] {
        // width: 100px;
        flex-grow: 1;
        padding: 0px 3px;
      }
      // label .input-sibling {
			// 	margin-right: 4px;
			// }
		}
	}
  
	.input-sibling {
    display: inline-block;
    width : 12px;
    height: 12px;
    // border: 1px solid #dadada;
    background: #2a2a2a;
    vertical-align: middle;
    position: relative;
    top: -.5px;
    
    &:before, &:after {
      visibility: hidden;
      float: left;
      font-size  : 9px;
      line-height: 9px;
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      color: $color-accent;
		}
	}
  
  .input-sibling.checkbox {
    border-radius: 3px;
    &:after {
      content: '\f00c';
      position: relative;
      left: 1.5px;
      top : 1.5px;
    }
  }
  
  input:checked + .input-sibling {
    &:before, &:after {
      visibility: visible;
    }
  }
  
  .creation-prop > span:first-child,
  .creation-prop > label > span:first-child {
    line-height: 19px;
    display: inline-block;
    padding-right: 3px;
  }
  
} // #edit-style-contents
