
#dialog-section {
  overflow: hidden;
  height: 100%;
  position: relative;
	* {
	  @extend %noselection;
	}
}

#dialog-overlay-wrap {
  height: 100%;
  overflow: auto;
}

#dialog {
	user-select: text;
  position: relative;
  z-index: 10;
  display: inline-block;
  min-height: 0px;
  min-width: 70px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
	letter-spacing: 0.026em;
  margin: 80px 55px;
  
  [contenteditable] {
    position: relative;
    z-index: 0;
    outline: none;
		&:focus {
	    // background: #fff !important;
	    // color: #000 !important;
	  }
		&:hover {
			cursor: text;
		}
  }
	
  #dialog-title-bar {
    position: relative;
    overflow: hidden;
    text-align: center;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #b6b6b6;
    color: #333333;
    height: 20px;
    line-height: 20px;
    background: linear-gradient(to bottom, #e5e5e5 0%,#d3d3d3 100%);
	  border-radius: 6px 6px 0 0;
    /* padding: 0 13px; */
		div {
      position: absolute; // Chrome was doing just fine with max-width: 100%, but I needed to add this to make it work in firefox.
      right: 13px;
      left: 13px;
			&:focus {
				right: unset;
				left: unset;
        width: 100%;
			}
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // There's a javscript fix in the "assets/js/panels/dialog.js" file. Look for id: #5945573415
		}
		div:focus {
			text-overflow: unset; // There's a javscript fix in the "assets/js/panels/dialog.js" file. Look for id: #5945573415
		}
  }
	
  #dialog-container {
  	overflow: hidden;
	  border-radius: 6px;
	  box-shadow: 0px 0px 2px rgba(0,0,0,.7), 0px 2px 30px 3px rgba(0,0,0,.4);
		 > .padding-box {
	    display: flex;
	    white-space: nowrap;
	    padding: 16px;
	    background: $color-bg;
	    min-height: 20px;
	    color: #dadada;
	  }
  }
  
  .pb-shrink {
    width: auto !important;
    height: auto !important;
    > .padding-box {
	    flex-grow: 0 !important;
	    justify-self: start !important;
	    align-self: start !important;
    }
  }
  
  // .padding-box > div {
  //   overflow: visible !important;
  // }
  
  .padding-box {
    > .divider-line {
      align-self: stretch;
      display: flex;
      > .padding-box {
        align-self: stretch;
      }
    }
  }
	.text-container {
		display: block;
	}
	
  // ORIENTATION ROW
  .orientation-row {
    display: flex;
    flex-direction: row;
    
    > div {
      display: flex;
      flex-direction: row;
    }
        
    // ALIGN CHILDREN
    &.align-children-vertical-top > div {
      align-items: flex-start;
    }
    &.align-children-vertical-center > div {
      align-items: center;
    }
    &.align-children-vertical-bottom > div {
      align-items: flex-end;
    }
    &.align-children-vertical-fill > div {
      align-items: stretch;
    }
    &.align-children-horizontal-left > div {
      justify-content: flex-start;
    }
    &.align-children-horizontal-center > div {
      justify-content: center;
    }
    &.align-children-horizontal-right > div {
      justify-content: flex-end;
    }
    &.align-children-horizontal-fill > div {
      justify-content: stretch;
      >div {
        flex: 1;
      }
    }
    
    // ALIGMENT
    > div > .alignment-vertical-top {
      justify-self: flex-start;
      margin-bottom: auto !important;
    }
    > div > .alignment-vertical-center {
      justify-self: center;
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
    > div > .alignment-vertical-bottom {
      justify-self: flex-end;
      margin-top: auto !important;
    }
    > div > .alignment-vertical-fill {
      align-self: stretch;
    }
  }
	
	// ORIENTATION COLUMN
  .orientation-column {
    display: flex;
    flex-direction: column;
    
    > div {
      display: flex;
      flex-direction: column;
    }
    
    // ALIGN CHILDREN
    &.align-children-horizontal-left > div {
      align-items: flex-start;
    }
    &.align-children-horizontal-center > div {
      align-items: center;
      > .padding-box > div {
        text-align: center;
        .text-container {
          display: inline-block;
        }
      }
    }
    &.align-children-horizontal-right > div {
      align-items: flex-end;
      > .padding-box > div {
        text-align: right;
        .text-container {
          display: inline-block;
        }
      }
    }
    &.align-children-horizontal-fill > div {
      align-items: stretch;
    }
    &.align-children-vertical-top > div {
      justify-content: flex-start;
    }
    &.align-children-vertical-center > div {
      justify-content: center;
    }
    &.align-children-vertical-bottom > div {
      justify-content: flex-end;
    }
    &.align-children-vertical-fill > div {
      justify-content: stretch;
      > div {
        flex: 1;
      }
    }
    
      // ALIGMENT
    > div > .alignment-horizontal-left {
      align-self: flex-start;
    }
    > div > .alignment-horizontal-center {
      align-self: center;
    }
    > div > .alignment-horizontal-right {
      align-self: flex-end;
    }
    > div > .alignment-horizontal-fill {
      align-self: stretch;
    }
  }
	
	#dialog-container.orientation-row {
		flex-direction: column;
    > .padding-box {
      flex-direction: row;
    }
	}
  
  .group,
  .panel {
    /* display: inline-block; */
    align-items: flex-start;
    align-items: center;
  }
  
  .panel.orientation-row > *,
  .group.orientation-row > * {
    line-height: 15px;
    min-height: 15px;
  }
  .panel.orientation-column > *,
  .group.orientation-column > * {
    line-height: 13px;
    min-height: 13px;
  }
  
  .button {
    line-height: 23px;
    min-height: 23px;
  }
  
  & > .orientation-column > .padding-box {
    display: flex;
    flex-direction: column;
  }
  & > .orientation-row > .padding-box {
    display: flex;
    flex-direction: row;
  }
  
  .panel {
    position: relative;
    .title {
      align-self: flex-start;
      color: #f0f0f0;
      background: $color-bg;
      min-height: 13px;
      line-height: 13px;
      padding: 0px 5px;
      margin: 0 0 -24px 5px !important;
    }
    > .padding-box {
      align-self: stretch;
      justify-self: stretch;
      flex-grow: 1;
      min-width: 30px;
      min-height: 0px;
      border: 1px solid #3e3e3e;
      border: 1px solid darken($color-bg,5);
			margin-top: 19px;
      padding: 16px 16px;
    }
  }
  
  .padding-box {
    align-self: stretch;
    justify-self: stretch;
    flex-grow: 1;
    overflow: hidden;
  }
  
  // .orientation-row > .padding-box > div > .title,
  .padding-box > .panel.orientation-row > {
    .title {
      position: absolute;
      // top: 17px;
    }
    .padding-box {
      margin-top: 8px;
    }
  }
  // Correction for spacing <style> element...
  .padding-box > .panel.orientation-row:first-of-type > .title {
    top: 0px;
  }
  .orientation-row > .padding-box > .panel.orientation-row > .title {
    top: 0px;
  }
  
	.justify-left {
		text-align: left;
	}
	.justify-center {
		text-align: center;
	}
	.justify-right {
		text-align: right;
	}
	
  .play-video {
    color: #8a8a8a;
    font-size: 50px;
    padding: 50px 100px;
    transition: all 300ms linear;
    display: flex;
    white-space: nowrap;
    background: $color-bg;
    min-height: 20px;
  }
  
  &:hover .add-new-element {
    color: #a2a2a2;
    font-size: 60px;
  }
  
  .button {
    display: flex;
		.button-border {
      overflow: hidden;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      flex-direction: column;
			border: 1px solid #c1c1c1;
			border-radius: 9999px;
      .text-container {
        display: block;
        padding: 0px 14px;
      }
			&:hover {
				// background: #cdcdcd;
        // color: $color-bg !important;
			}
		}
  }
	
	[data-item-type="Checkbox"],
	[data-item-type="RadioButton"] {
		text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
		div {
			text-align: left;
		}
	}
	
  .dropdownlist {
    display: flex;
  }
	
  .static-text,
  .edit-text > .edit-text-inner-wrap {
    // display: inline-block;
    vertical-align: middle;
    // &:before {
    //   content: "";
    //   display: inline-block;
    //   vertical-align: middle;
    //   height: 100%;
    // }
    // display:flex;
    // justify-content:center;
    // align-items:center;
		.os-content-glue,
    .text-container {
      display: inline-block !important;
      white-space: normal !important;
	    word-break: normal;
	    overflow-wrap: normal;
      vertical-align: middle;
    }
  }
  
  .static-text {
    overflow: hidden;
    // &:before {
    //   content: "";
    //   display: inline-block;
    //   vertical-align: middle;
    //   height: 100%;
    // }
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    .text-container {
      word-spacing: 0px;
      letter-spacing: 0.63px;
      line-height: 17.5px;
      font-size: 13.6px;
      font-weight: 300;
      box-sizing: border-box;
      width: 100%;
    }
  }
  
  .edit-text {
		span.edit-text-inner-wrap {
      // display: block; height: 100%; width: 100%;
      cursor: text;
			overflow: auto;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1px 7px 1px;
      background: darken($color-bg,7);
      border: 1px solid lighten($color-bg,7);
      border-radius: 4px;
      text-align: left;
      // This before was originally put here to help with vertical elignment, but
      // it caused issues with the scrollbar plugin. It was not in use because
      // of ScriptUI behavior differences, so I decided to hide it for EditText elements.
      // &:before {
      //   display: none;
      // }
    }
    .os-content-glue {
      box-sizing: border-box !important;
      // width: 100% !important;
      // height: 100% !important;
      border:none !important;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      padding: 0 !important;
      color: red;
      overflow: hidden !important;
      visibility: hidden !important;
    }
    // .text-container {
    //   content: "";
    //   display: inline-block;
    //   vertical-align: middle;
    //   height: 100%;
    // }
    // .text-container.multiline {
    //   vertical-align: top !important;
    // }
    .text-container {
      // top: 0px;
      // left: 0px;
      // right: 0px;
      // bottom: 0px;
      // position: absolute;
    }
    .os-content-glue,
    span.text-container {
      // white-space: inherit !important;
			// overflow: auto;
      // display: inline-block;
			// box-sizing: border-box;
    	// color: yellow !important;
	    font-size: 12.3px;
	    word-spacing: 1.30px;
	    letter-spacing: 0.54px;
	    line-height: 15px;
	    font-weight: 300;
      // vertical-align: top !important;
    }
		&.focused span {
			// background: #fff;
      background: darken($color-bg,12);
			// color: #fff !important;
		}
  }
  
  .list-box{
    
		.inner-wrap {
			overflow: auto;
	    background: $color-bg;
	    border: 1px solid lighten($color-bg,10);
	    border-radius: 4px;
      height: 100%;
		}
		
    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    ul {
      
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 12px;
      }
    }
    li {
      cursor: pointer;
      white-space: nowrap;
      text-align: left;
      border-bottom: 1px solid lighten($color-bg,10);
			&.selected,
			&:active {
        // background: #476785;
        // background: #3d4e5f;
        background: #345c80;
      }
    }
    span {
      white-space: nowrap;
      display: inline-block;
      padding: 5px 5px 3px 5px;
    }
  }
  
  .tree-view {
		display: flex;
    > .padding-box {
      margin: 0px;
      padding: 0px;
      padding-top: 2px;
      border: 1px solid lighten($color-bg,10);
      border-radius: 4px;
      overflow: hidden;
    }
  }
  
  .tree-view-item {
    .item-wrap {
      position: relative;
      padding-left: 14px;
			margin-bottom: 2px;
      &:before {
        content: "";
        position: absolute;
        right: -200%;
        bottom: 0px;
        left: -200%;
        // width: 500%;
        border-bottom: 1px solid lighten($color-bg,10);
      }
      .tree-view-arrow {
        cursor: pointer;
        display: none;
        position: absolute;
        top: 0;
        left: 0px;
				margin-top: 2.5px;
				margin-left: 2px;
        font-size: 10px;
        line-height: 10px;
        transition: transform .10s ease;
      }
      .text-container {
				padding: 1px 3px 3px 0;
        text-align: left;
      }
    }
    > .padding-box {
      display: none;
      padding-left: 10px;
      overflow: visible;
    }
    &.tree-node > .item-wrap > .tree-view-arrow {
      display: inline-block;
    }
    &.expanded {
      > .item-wrap .tree-view-arrow {
				// margin-top: 2.5px;
        transform: rotate(90deg);
      }
      > .padding-box {
        display: block;
      }
    }
  }
  
  .divider-line {
    min-width: auto;
    min-height: auto;
    line-height: 0px;
    padding: 0px;
    margin: 0px !important;
    > .padding-box {
      border-color: #4b4b4b;
      min-width: 0;
      min-height: 0;
      padding: 0px;
      margin: 0px;
    }
  }
	
	// Slider
  // This tool helped a ton: https://github.com/danielstern/range.css
	
	input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
    height: 13px;
	  margin: 6px 0;
    background: transparent;
	}
  .orientation-row .padding-box input[type=range] {
    width: auto;
  }
  input[type="range"].alignment-horizontal-fill {
    width: 100% !important;
  }
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 2px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	  background: #747474;
	  border-radius: 0px;
	  border: 0px solid rgba(0, 0, 0, 0);
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0px 0px 0px 3px #535454, 0px 0px 0px #606161;
	  border: 1.5px solid #c7c7c7;
	  height: 13px;
	  width: 13px;
	  border-radius: 13px;
	  background: #535454;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -5.5px;
    &:active {
      background: #459ff4;
      border-color: #459ff4;
    }
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #939393;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 2px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	  background: #747474;
	  border-radius: 0px;
	  border: 0px solid rgba(0, 0, 0, 0);
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 0px 0px 0px 3px #535454, 0px 0px 0px #606161;
	  border: 1.5px solid #c7c7c7;
	  height: 13px;
	  width: 13px;
	  border-radius: 13px;
	  background: #535454;
	  cursor: pointer;
    &:active {
      background: #459ff4;
      border-color: #459ff4;
    }
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 2px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #555555;
	  border: 0px solid rgba(0, 0, 0, 0);
	  border-radius: 0px;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	}
	input[type=range]::-ms-fill-upper {
	  background: #747474;
	  border: 0px solid rgba(0, 0, 0, 0);
	  border-radius: 0px;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 0px 0px 0px 3px #535454, 0px 0px 0px #606161;
	  border: 1.5px solid #c7c7c7;
	  height: 13px;
	  width: 13px;
	  border-radius: 13px;
	  background: #535454;
	  cursor: pointer;
	  height: 2px;
    &:active {
      background: #459ff4;
      border-color: #459ff4;
    }
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #747474;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #939393;
	}

	


  .tabbed-panel {
    display: flex;
    flex-direction: column;
    > .tab-container {
      display: block !important;
      position: relative;
      height: 0px;
      top: 10px;
      // padding: 0 13px 0 13px;
      padding: 0 34px 0 12px;
      margin: 0;
      text-align: left;
      justify-self: flex-start;
      align-self: flex-start;
      
    	.tab {
        cursor: default;
    		display: inline-block;
        letter-spacing: 1px;
        padding-bottom: 1px;
    		border-bottom: 2px solid transparent;
        margin-left: 28px;
        &:first-child {
          margin-left: 0px;
        }
        // &.active,
        // &:hover {
        //   color: #46a0f5;
        // }
        &.visible {
    		  border-bottom: 2px solid #dadada;
        }
    	}
    }
    > .padding-box {
      display: flex;
      margin: 0 !important;
			padding: 29px 1px 1px 1px !important;
    }
  	> .padding-box > .tab {
      flex: 1;
      display: none;
  	}
    > .padding-box > .tab > .title {
      display: none;
    }
  	> .padding-box > .tab > .padding-box {
  		margin: 0 !important;
      border: none !important;
  	}
  }
	.tab-width-auto {
		min-width: auto !important;
		width: auto !important;
		min-height: auto !important;
		height: auto !important;
	}
  .visible-tab,
  .tab-temp-class {
    position: relative;
    z-index: 0;
    display: flex !important;
  }
	.tab-temp-class {
    align-self: flex-start !important;
    justify-self: flex-start !important;
		display: inline-block !important;
	}
	.tab-temp-hide-class {
    display: none !important;
	}
	
	.icon-button,
	.image-item {
    justify-items: center;
    align-items: center;
		img {
      display: inline-block;
		}
	}
  
  .icon-button {
    .inner-wrap {
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      overflow: hidden;
      background-clip: padding-box;
      border-radius: 999999px;
      padding: 6px;
    }
    &.icon-button-stroke .inner-wrap {
      border: 1px solid #fafafa;
    }
    &:hover .inner-wrap {
      background: #fff;
    }
    &:active .inner-wrap {
      background: #45a0f5;
    }
  }
	
	div.align-children-horizontal-fill.child-width-auto > .padding-box > div,
	div.parent-width-auto,
  div.align-children-horizontal-fill > .padding-box > .width-auto {
		width: auto !important;
    outline: 1px solid rgb(24,236,102);
	}
	div.align-children-vertical-fill.child-height-auto > .padding-box > div,
	div.parent-height-auto,
  div.align-children-vertical-fill > .padding-box > .height-auto {
		height: auto !important;
    outline: 1px solid red;
	}
	
} // #dialog


// body.dialog-animate-changes #dialog [data-item-type],
// body.dialog-animate-changes #dialog .padding-box {
// body.dialog-animate-changes #dialog,
body.dialog-animate-changes #dialog * {
  transition: all 250ms ease;
}


.paint-target-for-deletion {
	background: #d63e3e;
}
